apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - servicemonitors/
  - prometheusrules/

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 72.6.2
    releaseName: kube-prometheus-stack
    namespace: monitoring
    includeCRDs: true
    valuesFile: values.yaml
